"Create and support aircraft supply activities for forward operations and refueling (OPFOR & Friendly)"
"Provide the status of forward operations and refueling"
"Create and support supply activities for aerial transportation supply points (OPFOR & Friendly)"
"Provide status supply activities"
"Reflect landing at landing strips (unimproved runway)"
"Reflect landing at established runways"
"Coordinate air refueling to support strategic air bridge"
"Tankers departing from a base will reduce fuel storage"
"Reflect and execute fuel orders"
"Proceed to assigned air refueling airspace per ACM usage category"
"Dynamically utilize available offload from alert refueling asset"
"Changes in tanker planning/offload"
"Plan, schedule and execute aeromedical evacuation missions "